<div class="table-responsive" ng-controller="defenseCtrl">
    <table class="table table-striped">
        <legend>Defenses</legend>
        <thead>
            <th>Name</th>
            <th>Power</th>
            <th>Armor</th>
            <th>Shield</th>
            <th>Quantity</th>
        </thead>

        <tbody>
            <tr ng-repeat="(key, value) in defenseBaseValues">
                <td>{{ key }}</td>
                <td>{{ value.power }}</td>
                <td>{{ value.armor }}</td>
                <td>{{ value.shield }}</td>
                <td><input type="text" placeholder="0" class="form-control" /></td>
            </tr>
        </tbody>
    </table>
</div>

